# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
* Python
* Jupyter notebooks
* R Studio
* SQL
* Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Julia
4. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scipy

| Data Science Tools |
| ------------- |
| R Studio |
| Apache Spark |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Bruno Torres